{{define "title"}}About{{end}}
{{define "main"}}
<h2 id="about">What is Time Management?</h2>
<p id="para1">Time management process is the management of time on how you plan and organize your specific tasks and work.

              The importance of time management will provide some insight that certainly changes the belief. It will almost effortlessly reinforce the appropriated behaviour to take full advantages of time management.</p><br><br><br>
<h2 id="about">Life Benefits of Time Management:</h2>
<p id="para2">Time management is nothing but a process to manage the time effectively with accordance to your work. It does not require a great effort but absolutely needs proper planning.

              <p id="about">Some of the top benefits of time management process are,
            <ul id="about">
              <li>Low stress</li>
              <li>More productivity</li>
              <li>Lesser rework</li>
              <li>Less friction and issues</li>
              <li>More free time</li>
              <li>No wasting of time</li>
              <li>Great opportunities</li>
              <li>Allot your time in other things</li>
              <li>Low effort</li>
              <li>Gain a reputation</li>
            </ul>
              </p>
{{end}}